<h1>List of Photos</h1>

<div>
<form action="/users/add">
  <label id="image">Image</label>
  <input id="image" type="text" name="image" placeholder="Enter a URL for this image...">
  <label id="caption">Caption</label>
  <textarea id="caption" type="text" name="caption" placeholder="Enter a caption for this photo..."></textarea>
  <label id="owner_id">Owner ID</label>
  <input id="owner_id" type="text" name="owner_id" placeholder="Enter a ID of a user">
  <button>Add Photo</button>
</form>
</div>

<hr>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>
  <tr><% @photo_list.each do |photo|%>
    <td><img src=<%= photo.image%>></td>
    <td><%= photo.caption%></td>
    <td><%= photo.poster.username%></td>
    <td><%= photo.created_at%></td>
    <td><a href="/photos/<%= photo.id%>">Show details</a></td>
  </tr><% end%>
</table>
